<link rel="stylesheet" href="/stylesheets/styles.css">
<header class="header mb-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">agralemos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a href="/projetos" class="nav-link">Projetos</a>
                    <a href="/escritorio" class="nav-link">Escritório</a>
                    <a href="/contato" class="nav-link">Contato</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
</header>