<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Projetos</h1>
    <div class="row">
        <div class="linha">
            <div class="col-md-3 col-12">
                
            </div>
            <div class="col-md-3 col-12">

            </div>
            <div class="col-md-3 col-12">

            </div>
            <div class="col-md-3 col-12">

            </div>
        </div>
    </div>
    <% for( projeto of projetos ) { %>
        <ul>
            <li><a href="/projetos/<%= projeto.id %>"><%= projeto.nome %></a></li>
        </ul>

        <article class="projects_card">

        </article>
    <% } %>
</div>