<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Projetos</h1>
    <% for( projeto of projetos ) { %>
        <ul>
            <a href="/projetos/<%= projeto.id %>"><li><%= projeto.nome %></li></a>
            <li><%= projeto.descricao %></li>
        </ul>

        <article class="projects_card">
            
        </article>
    <% } %>
</div>